
packages/
.vs/Clases_Geometria_3D/v16/ipch/AutoPCH/18ac6030391d79ed/VERTICE.ipch
.vs/Clases_Geometria_3D/v16/ipch/AutoPCH/1af65efae0139dc8/ARISTA.ipch
.vs/Clases_Geometria_3D/v16/ipch/AutoPCH/1f80f90b32d0bd2d/OBJETO.ipch
.vs/Clases_Geometria_3D/v16/ipch/AutoPCH/229d2b96f792bf6/CARA.ipch
.vs/Clases_Geometria_3D/v16/ipch/AutoPCH/28c7ccb06c30e510/CLASES_GEOMETRIA_3D.ipch
.vs/Clases_Geometria_3D/v16/ipch/AutoPCH/495cea3425a555d2/CLASS_IMP.ipch
.vs/Clases_Geometria_3D/v16/ipch/AutoPCH/858c98f7c4119f6f/LECTORARCHIVOS.ipch
.vs/Clases_Geometria_3D/v16/ipch/AutoPCH/9ed9a9793259c84b/CLASS_DEF.ipch
.vs/Clases_Geometria_3D/v16/ipch/AutoPCH/a8f62b3071e011e5/EXAMEN.ipch
.vs/Clases_Geometria_3D/v16/ipch/AutoPCH/cd1da8f173ff91ab/ARISTA.ipch
.vs/Clases_Geometria_3D/v16/ipch/AutoPCH/d5d4bf2d693b425/CARA.ipch
.vs/Clases_Geometria_3D/v16/ipch/AutoPCH/db6b27055f22fdae/VERTICE.ipch
.vs/Clases_Geometria_3D/v16/ipch/AutoPCH/ded9bfe055f317ee/OBJETO.ipch
.vs/Clases_Geometria_3D/v16/ipch/AutoPCH/e0c955cc75f8f42a/CLASS_DEF.ipch
.vs/Clases_Geometria_3D/v16/ipch/AutoPCH/28c7ccb06c30e510/CLASES_GEOMETRIA_3D.ipch
.vs/Clases_Geometria_3D/v16/ipch/AutoPCH/495cea3425a555d2/CLASS_IMP.ipch
*.ipch
.vs/Clases_Geometria_3D/v16/ipch/AutoPCH/28c7ccb06c30e510/CLASES_GEOMETRIA_3D.ipch
.vs/Clases_Geometria_3D/v16/ipch/AutoPCH/495cea3425a555d2/CLASS_IMP.ipch
